@import "tailwindcss";
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
}
